// @import "~bootstrap/scss/bootstrap.scss";

// @import "assets/neon-glow/neon-glow.scss";
@import "assets/greyson/theme.scss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: #2f3c48;
}

.date {
  max-width: 500px;
}
